package dashboard

import (
	"fmt"
	protos "github.com/mfduar8766/learnKubernetes/lib/protos/generated"
)

templ DashBoard(users []*protos.UserModel) {
	if users == nil {
		<div>Loading...</div>
	}
	<div class="flex justify-center flex-col">
		if len(users) == 0 {
			<div>No Information available yet.</div>
		}
		for _, user := range users {
			<div class="user-card">
				<p>Name: { fmt.Sprintf("%s %s", user.FirstName, user.LastName) }</p>
				<p>Age: { user.Age }</p>
			</div>
		}
	</div>
}
