package views

import "github.com/mfduar8766/learnKubernetes/views/common"

templ Index(route, styleSheetPath, jsFilePath string) {
	<!DOCTYPE html>
	<html lang="en" style="height: 100%; width: 100%">
		@common.Header(route, styleSheetPath)
		<body class="container flex flex-col justify-center mx-auto h-full w-full">
			<div
				id="base-element"
				class="container mx-auto h-screen w-screen flex justify-center align-center"
			>
				<main id="app">
					{ children... }
				</main>
			</div>
		</body>
		<script src={ jsFilePath }></script>
	</html>
}

templ PageNotFound() {
	<div>404 Page Not Found</div>
}
