package views

import "github.com/mfduar8766/learnKubernetes/lib/models"
import "fmt"

templ GetUser(users []models.UserModel) {
	// THIS IS LIKE EMBEDDING CHILD COMPONENT IN A PARENT IN REACT
	// @Layout() {
	// 	<div style="display: flex; justify-content: center">
	// 		for _, user := range users {
	// 			<div class="user-card">
	// 				<p>Name: { fmt.Sprintf("%s %s", user.FirstName, user.LastName) }</p>
	// 				<p>Age: { user.Age }</p>
	// 			</div>
	// 		}
	// 	</div>
	// }
	<div style="display: flex; justify-content: center">
		for _, user := range users {
			<div class="user-card">
				<p>Name: { fmt.Sprintf("%s %s", user.FirstName, user.LastName) }</p>
				<p>Age: { user.Age }</p>
			</div>
		}
	</div>
}
