package common

templ Header(route, styleSheetPath string) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<link rel="stylesheet" href={ styleSheetPath }/>
		if route == "/" {
			<title>App</title>
		}
	</head>
}

templ Button(buttonType, text, classes string) {
	{{
		defaultCss := "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-1"
		if len(classes) > 0 {
			defaultCss = classes
		}
	}}
	<button
		class={ defaultCss }
		type={ buttonType }
	>
		{ text }
	</button>
}

templ Input(id, inputType, placeHolder, name, classes string) {
	{{
		defaultCss := "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"

		if len(classes) > 0 {
			defaultCss = classes
		}
	}}
	<input
		class={ defaultCss }
		id={ id }
		type={ inputType }
		placeholder={ placeHolder }
		name={ name }
	/>
}

templ Label(labelFor, text, classes string) {
	{{
		defaultClass := "block text-gray-700 text-sm font-bold mb-2"
		if len(classes) > 0 {
			defaultClass = classes
		}
	}}
	<label class={ defaultClass } for={ labelFor }>
		{ text }
	</label>
}

templ ErrorMessage(id, message string) {
	{{
		defaultId := "error-message"
		if len(id) > 0 {
			defaultId = id
		}
	}}
	<p id={ defaultId } class="text-red">{ message }</p>
}

templ SearchBox() {
	<div class="w-full h-full">
		<div class="flex justify-center items-center flex-col w-full h-full dropdown">
			<div class="w-full">
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline w-full rounded border-gray"
					placeholder="search for a location..."
					type="text"
					name="itemiary-search"
					id="filter-search"
				/>
			</div>
			// <search-drop-down-component
			// 	id="search-drop-down"
			// ></search-drop-down-component>
		</div>
	</div>
}
